.adDesigner {
    margin-left: 25px;
    margin-top: 25px;
}

.light {
    border: 3px solid #222;
    box-shadow: 0 0 4px 1px grey;;
}

.dark {
    color: #fff;
    background: #222;
    border: 1px solid #222;
}

.fontSize {
    font-family: Consolas;
}



.mb-2{
    font-family: 'Caveat', cursive;
}

.blueButton {
    background-color: #0d6efd;
}

.blueButton:focus {
    background-color: #1e60a9;
}

.blueButton:disabled {
    background-color: grey;
}