.votes {
    margin: 25px;
}

.chocolateBar .progress-bar {
    background-color: rgb(98, 43, 4);
}

.strawberryBar .progress-bar {
    background-color: rgba(222, 85, 99, 0.626);
}

.vanillaBar .progress-bar {
    background-color: rgba(184, 175, 175, 0.811);
}

.voteHeader {
    font-family: 'Caveat', cursive;
}

.blueButton {
    background-color: #0d6efd;
}

.blueButton:hover {
    background-color: #1e60a9;
}

.blueButton:focus {
    background-color: #1e60a9;
}

.blueButton.btn-succes:hover {
    border-color: #0d6efd;;
}

.marginBar {
    margin-bottom: 1px;
}

.chocolateMargin {
    margin-top: 5px;
}