/* .App {
    display: flex;
} */

section {
    align-items: center;
}

@media only screen and (min-width: 760px) {
    section {
        display: flex;
        justify-content: space-evenly;
    }
}

.AdContainer {
    display: flex;
    justify-content: space-around;
}